

/* Default Styling */
body{width: auto; height: 300px; color: black; background-color: #ffffff;}
footer{background-color:teal; padding-top: 5px;}
.section3{clear: right; text-align: center; padding-top: 40px; word-spacing: 0.8mm;  word-spacing: 2mm; font-variant: small-caps;
     font-size: large; letter-spacing: 0.2mm;}
.section2{padding-top: 100px; text-align: center; word-spacing: 2mm; font-style: oblique; font-size: large; letter-spacing: 0.2mm;}

.section4{text-align: center; padding-top: 40px;  word-spacing: 2mm; font-variant: small-caps; font-size: large; letter-spacing: 0.2mm;}
h3{color: #208f64; font-size: larger; font-style: oblique ; font-weight: 600; letter-spacing: 0.2mm;}
h1{font-weight: 600; letter-spacing: 0.3mm;}
h2{background-color: teal; margin: 0 30% 0 30%;}
.image{ display:flex; justify-content: center; }
#email{ display:flex; justify-content: center; }

button{
     background-color: #208f64; color: #ffffff; border: dashed 3px goldenrod; font-size: 20px;
      padding: 7px;
}
button:hover{background-color: teal; }

/*For Desktop View*/
@media screen and (min-width: 1024px)
{body

{background-color: white; }

.section{text-align: end; word-spacing: 2cm; background-color: teal; padding: 10px 5px 10px 0; margin-left: 500px;}
#identify{padding-left: 30px; letter-spacing: 0.5mm;}
#img1{float: left;}

.section1{clear: left ; padding-top: 50px;}

#img2{float: right; border-radius: 20%;}


}

/*For Tablet View*/
@media screen and (min-width: 768px)
and (max-width: 1024px)
{body

{background-color: #75590a; width: auto; height: 400px;}

.section{text-align: end; word-spacing: 1cm; background-color: teal; padding: 10px 50px 10px 0;}
#identify{padding-left: 30px; letter-spacing: 0.5mm;}

.section1{ padding-top: 50px;}

#img2{float: right; border-radius: 30%;}

 }
/*For Mobile View*/
@media screen and (min-width: 100px)
and (max-width: 799px)
{body

{background-color: #ffffff; width: auto; height: 400px;}
.section{ word-spacing: 0.5cm; background-color: teal; padding: 10px 20px 10px 0;}
#identify{padding-left: 30px; letter spacing: 0.2mm}

.section1{ padding-top: 50px;}

#img2{border-radius: 50%; display: flex; margin-left: 70px;}

 }
